<!-- <p style="color: green"><%= notice %></p>

<%= render @communicate %>

<div>
  <%= link_to "Edit this communicate", edit_communicate_path(@communicate) %> |
  <%= link_to "Back to communicates", communicates_path %>

  <%= button_to "Destroy this communicate", @communicate, method: :delete %>
</div>
 -->